FGV - Escola de Matemática Aplicada
==
Introdução à Programação com a Linguagem Python
--

#### Acesso a Banco de Dados

Importando os Módulos

In [1]:
import pymysql
import sqlite3
import getpass
import pandas.io.sql as psql

Estabelecendo uma Conexão

In [2]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='alunos')

········

Utilizando cursores padrão

In [3]:
cur = conn.cursor() # para se escrever como se escreve em SQL

Executando queries e examinando os resultados:

+ fetchall()  # pega todos os registros da tabela.
+ fetchmany(num. registros) # pega a quantidade solicitada ex: fetchmany(3).
* fetchone()  # retorna a próxima linha da query.

O cursor armazena os resultados da query

In [4]:
cur.execute("show databases;")
for r in cur.fetchall():
    print(r)

('information_schema',)
('Reuters',)
('SQLExample1',)
('alunos',)
('classicmodels',)

In [9]:
cur.execute("use SQLExample1;")
for r in cur.fetchmany(5):
    print(r)

In [10]:
cur.execute('show tables;')
for r in cur.fetchall():
    print(r)

('account',)
('branch',)
('business',)
('customer',)
('department',)
('employee',)
('individual',)
('officer',)
('product',)
('product_type',)
('transaction',)

In [11]:
cur.execute('use SQLExample1;')
cur.execute('select * from customer;')
for r in cur.fetchall():
    print(r)

(1, '111-11-1111', 'I', '47 Mockingbird Ln', 'Lynnfield', 'MA', '01940')
(2, '222-22-2222', 'I', '372 Clearwater Blvd', 'Woburn', 'MA', '01801')
(3, '333-33-3333', 'I', '18 Jessup Rd', 'Quincy', 'MA', '02169')
(4, '444-44-4444', 'I', '12 Buchanan Ln', 'Waltham', 'MA', '02451')
(5, '555-55-5555', 'I', '2341 Main St', 'Salem', 'NH', '03079')
(6, '666-66-6666', 'I', '12 Blaylock Ln', 'Waltham', 'MA', '02451')
(7, '777-77-7777', 'I', '29 Admiral Ln', 'Wilmington', 'MA', '01887')
(8, '888-88-8888', 'I', '472 Freedom Rd', 'Salem', 'NH', '03079')
(9, '999-99-9999', 'I', '29 Maple St', 'Newton', 'MA', '02458')
(10, '04-1111111', 'B', '7 Industrial Way', 'Salem', 'NH', '03079')
(11, '04-2222222', 'B', '287A Corporate Ave', 'Wilmington', 'MA', '01887')
(12, '04-3333333', 'B', '789 Main St', 'Salem', 'NH', '03079')
(13, '04-4444444', 'B', '4772 Presidential Way', 'Quincy', 'MA', '02169')

In [11]:
cur.execute('select * from customer;')
for r in cur.fetchmany(5):
    print(r)

(1, '111-11-1111', 'I', '47 Mockingbird Ln', 'Lynnfield', 'MA', '01940')
(2, '222-22-2222', 'I', '372 Clearwater Blvd', 'Woburn', 'MA', '01801')
(3, '333-33-3333', 'I', '18 Jessup Rd', 'Quincy', 'MA', '02169')
(4, '444-44-4444', 'I', '12 Buchanan Ln', 'Waltham', 'MA', '02451')
(5, '555-55-5555', 'I', '2341 Main St', 'Salem', 'NH', '03079')

In [12]:
cur.execute('select * from customer;')
a,b,c,d,e,f,g = cur.fetchone()
h,i,j,k,l,m,n = cur.fetchone()

In [13]:
a

1

In [14]:
b

'111-11-1111'

In [15]:
h

2

In [16]:
i

'222-22-2222'

Criando uma tabela no Banco de Dados

In [ ]:
cur.execute("USE alunos;")

q = '''CREATE TABLE IF NOT EXISTS tabela_nova
       (text VARCHAR(200) DEFAULT NULL,
        number INT DEFAULT NULL)
        ENGINE=MyISAM DEFAULT CHARSET='utf8';'''

cur.execute(q)

In [81]:
cur.execute("show tables;")
for r in cur.fetchall():
    print(r)

('Carros',)
('SemIsso',)
('carrinho',)
('carros',)
('compras',)
('people',)
('tabela_nova',)
('tabela_nova2',)
('tabela_nova3',)

In [83]:
cur.execute("describe tabela_nova;")
for r in cur.fetchall():
    print(r)

('text', 'varchar(200)', 'YES', '', None, '')
('number', 'int(11)', 'YES', '', None, '')

Inserindo registros na nova tabela:

Inserindo um registro:

In [18]:
texto = 'Um novo texto para inserir na tabela'
numero = 245

cur.execute('''INSERT INTO Alunos.tabela_nova 
            (text,number) VALUES (%s,%s)''',(texto,numero))

OperationalError: (1142, "INSERT command denied to user 'aluno'@'localhost' for table 'tabela_nova'")

In [19]:
cur.execute("select * from tabela_nova;")
for r in cur.fetchall():
    print(r)

ProgrammingError: (1146, "Table 'SQLExample1.tabela_nova' doesn't exist")

Inserindo vários registros

In [20]:
texts = ['It always seems impossible until its done.',
         'In order to succeed, we must first believe that we can.',
         'Life is 10% what happens to you and 90% how you react to it.',
         'Start where you are. Use what you have. Do what you can.',]

numbers = [12,23,34,45]

regs = zip(texts,numbers)

cur.executemany('INSERT INTO Alunos.tabela_nova (text,number) VALUES (%s,%s)', (regs))

OperationalError: (1142, "INSERT command denied to user 'aluno'@'localhost' for table 'tabela_nova'")

In [21]:
cur.execute("select * from tabela_nova;")
for r in cur.fetchall():
    print(r)

ProgrammingError: (1146, "Table 'SQLExample1.tabela_nova' doesn't exist")

In [ ]:
cur.execute("DROP TABLE IF EXISTS Alunos.tabela_nova") #usuário não tem direito de drop

Usando Pandas

(Basta passar a conexão estabelecida como parâmetro)

In [22]:
df_mysql = psql.read_sql('select * from Alunos2.account;', con=conn)

DatabaseError: Execution failed on sql 'select * from Alunos2.account;': (1142, "SELECT command denied to user 'aluno'@'localhost' for table 'account'")

In [ ]:
df_mysql.head()

#### Usando um Banco SQLite

In [23]:
conn = sqlite3.connect('example.db')
cur = conn.cursor()

In [24]:
# Create table
cur.execute('''CREATE TABLE IF NOT EXISTS stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [25]:
conn = sqlite3.connect('example.db')
cur = conn.cursor()

In [26]:
t = ('RHAT',) #tuple with just one element
cur.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(cur.fetchone())

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [27]:
# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
cur.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [28]:
for row in cur.execute('SELECT * FROM stocks ORDER BY price'):
        print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

### Exercícios

In [34]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='alunos')
cur = conn.cursor()

········

In [12]:
cur.execute('use SQLExample1;')
cur.execute('show tables;')
for r in cur.fetchall():
    print(r)

('account',)
('branch',)
('business',)
('customer',)
('department',)
('employee',)
('individual',)
('officer',)
('product',)
('product_type',)
('transaction',)

In [13]:
cur.execute('describe account;')
for r in cur.fetchall():
    print(r)

('account_id', 'int(10) unsigned', 'NO', 'PRI', None, 'auto_increment')
('product_cd', 'varchar(10)', 'NO', 'MUL', None, '')
('cust_id', 'int(10) unsigned', 'NO', 'MUL', None, '')
('open_date', 'date', 'NO', '', None, '')
('close_date', 'date', 'YES', '', None, '')
('last_activity_date', 'date', 'YES', '', None, '')
('status', "enum('ACTIVE','CLOSED','FROZEN')", 'YES', '', None, '')
('open_branch_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('open_emp_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('avail_balance', 'float(10,2)', 'YES', '', None, '')
('pending_balance', 'float(10,2)', 'YES', '', None, '')

In [24]:
cur.execute('select avail_balance from account limit 5;')
for r in cur.fetchall():
    print(r)

(1057.75,)
(500.0,)
(3000.0,)
(2258.02,)
(200.0,)

In [15]:
cur.execute('describe product;')
for r in cur.fetchall():
    print(r)

('product_cd', 'varchar(10)', 'NO', 'PRI', None, '')
('name', 'varchar(50)', 'NO', '', None, '')
('product_type_cd', 'varchar(10)', 'NO', 'MUL', None, '')
('date_offered', 'date', 'YES', '', None, '')
('date_retired', 'date', 'YES', '', None, '')

In [16]:
cur.execute('select * from product;')
for r in cur.fetchall():
    print(r)

('AUT', 'auto loan', 'LOAN', datetime.date(2000, 1, 1), None)
('BUS', 'business line of credit', 'LOAN', datetime.date(2000, 1, 1), None)
('CD', 'certificate of deposit', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('CHK', 'checking account', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('MM', 'money market account', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('MRT', 'home mortgage', 'LOAN', datetime.date(2000, 1, 1), None)
('SAV', 'savings account', 'ACCOUNT', datetime.date(2000, 1, 1), None)
('SBL', 'small business loan', 'LOAN', datetime.date(2000, 1, 1), None)

In [17]:
cur.execute('describe product_type;')
for r in cur.fetchall():
    print(r)

('product_type_cd', 'varchar(10)', 'NO', 'PRI', None, '')
('name', 'varchar(50)', 'NO', '', None, '')

In [19]:
cur.execute('select * from product_type;')
for r in cur.fetchall():
    print(r)

('ACCOUNT', 'Customer Accounts')
('INSURANCE', 'Insurance Offerings')
('LOAN', 'Individual and Business Loans')

In [20]:
cur.execute('describe employee;')
for r in cur.fetchall():
    print(r)

('emp_id', 'smallint(5) unsigned', 'NO', 'PRI', None, 'auto_increment')
('fname', 'varchar(20)', 'NO', '', None, '')
('lname', 'varchar(20)', 'NO', '', None, '')
('start_date', 'date', 'NO', '', None, '')
('end_date', 'date', 'YES', '', None, '')
('superior_emp_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('dept_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')
('title', 'varchar(20)', 'YES', '', None, '')
('assigned_branch_id', 'smallint(5) unsigned', 'YES', 'MUL', None, '')

In [21]:
cur.execute('select * from employee limit 10;')
for r in cur.fetchall():
    print(r)

(1, 'Michael', 'Smith', datetime.date(2001, 6, 22), None, None, 3, 'President', 1)
(2, 'Susan', 'Barker', datetime.date(2002, 9, 12), None, 1, 3, 'Vice President', 1)
(3, 'Robert', 'Tyler', datetime.date(2000, 2, 9), None, 1, 3, 'Treasurer', 1)
(4, 'Susan', 'Hawthorne', datetime.date(2002, 4, 24), None, 3, 1, 'Operations Manager', 1)
(5, 'John', 'Gooding', datetime.date(2003, 11, 14), None, 4, 2, 'Loan Manager', 1)
(6, 'Helen', 'Fleming', datetime.date(2004, 3, 17), None, 4, 1, 'Head Teller', 1)
(7, 'Chris', 'Tucker', datetime.date(2004, 9, 15), None, 6, 1, 'Teller', 1)
(8, 'Sarah', 'Parker', datetime.date(2002, 12, 2), None, 6, 1, 'Teller', 1)
(9, 'Jane', 'Grossman', datetime.date(2002, 5, 3), None, 6, 1, 'Teller', 1)
(10, 'Paula', 'Roberts', datetime.date(2002, 7, 27), None, 4, 1, 'Head Teller', 2)

1 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance"?

In [23]:
def fun(comando):
    cur.execute(comando)
    l=[]
    for r in cur.fetchall():
        l.append(r)
    return l

In [31]:
fun('SELECT avg(avail_balance), min(avail_balance), max(avail_balance) FROM account ')

[(7114.769138, 0.0, 50000.0)]

2 - Quais registros na tabela "account" estão acima da média de "avail_balance"?

In [35]:
fun('select avail_balance FROM account HAVING avail_balance>7114.769138')

[(10000.0,), (9345.55,), (23575.12,), (9345.55,), (38552.05,), (50000.0,)]

3 - Na tabela "account", quais as 3 datas mais recentes e as 3 datas mais antigas ("open_date")?

In [44]:
a = fun('SELECT open_date FROM account ORDER BY open_date ASC limit 3')
b = fun('SELECT open_date FROM account ORDER BY open_date DESC limit 3')
print('Mais recentes: {}'.format(b))
print('Mais antigas: {}'.format(a))

Mais recentes: [(datetime.date(2004, 12, 28),), (datetime.date(2004, 10, 28),), (datetime.date(2004, 9, 30),)]
Mais antigas: [(datetime.date(2000, 1, 15),), (datetime.date(2000, 1, 15),), (datetime.date(2000, 1, 15),)]

4 - Para cada elemento na tabela "product", exiba o nome completo do "product_type_cd" (tabela "product_type")

In [ ]:
fun('select')

5 - Quantos empregados ("employees") possuem a letra "e" em seus nomes? E quantos tem sobrenomes que terminam com "r"?

6 - Quais são os títulos ("title") possíveis para os empregados ("employees")?

7 - Quantos empregados ("employees") estão a exatamente dois níveis abaixo do presidente?

8 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance" por tipo de 'product_cd' ?

9 - Na tabela "transaction", há quantos registros por ano ("txn_date")?

10 - Você é dono de uma loja de automóveis. Crie tabelas no banco "Alunos" para representar os carros de seu pátio, os modelos de automóveis, os clientes e as compras realizadas.

11 - Crie uma lista no Python com todos os nomes e sobrenomes em strings únicas, a partir da tabela "individual"

12 - A partir da tabela "individual", crie um dicionário no Python tendo os nomes e sobrenomes em strings únicas como chaves e os anos das datas como valores.