FGV - EMAp - Escola de Matemática Aplicada
==
Introdução à Programação com a Linguagem Python
--

In [67]:
T='OI'
T

'OI'

Usando Python como uma calculadora

In [4]:
23 + 12

35

In [5]:
34 - 5

29

In [6]:
87 * 23

2001

In [22]:
a=34 / 3
print(a)

11.333333333333334

In [23]:
(a/12).is_integer()

False

In [21]:
(33/5).is_integer()

False

In [1]:
23 % 3

2

In [2]:
2**3

8

## Tipos padrão do Python

### O que são tipos?

Tipos são classificações de dados que em Python são objetos. Dessa forma um objeto de determinado tipo possui as propriedades (métodos/funções e atributos) específicos do tipo. Podemos descobrir o tipo de cada objeto usando o comando:  
  
_type(objeto)_

### Tipos Numéricos:
Em Python (3.x) os tipos numéricos são divididos em três classes: os inteiros (int), os pontos flutuantes (float) e os complexos (complex).

In [25]:
a = 12

In [27]:
print(a)

12

In [28]:
a

12

In [29]:
type(a)

int

In [35]:
b = 2.001

In [36]:
type(b)

float

In [37]:
b.is_integer()

False

In [38]:
b.is_integer()

False

In [39]:
c = 3 + 1j

In [40]:
type(c)

complex

In [43]:
c.real

3.0

In [45]:
c.conjugate()

(3-1j)

In [53]:
c.imag

1.0

#### Operações com tipos numéricos:

In [60]:
print(9 + 8) # Soma.
print(12 - 34) # Subtração.
print(12 * 3) # Multiplicação.
print(34 / 23) # Divisão.
print(3 ** 5) # Exponenciação.
print(9 ** 0.5) # Radiciação.
print(501 % 10) # resto da divisão

17
-22
36
1.4782608695652173
243
3.0
1

In [61]:
a = 23.
print(type(a))

<class 'float'>

In [62]:
b = 2 + 3j
print(type(b))

<class 'complex'>

In [63]:
c = a + b
print(type(c))

<class 'complex'>

In [65]:
d = 34
print(type(d))

<class 'int'>

In [66]:
f = a + d
print(type(f))

<class 'float'>

##### Operações com > (maior), < (menor), >= (maior ou igual) e <= (menor ou igual)

In [55]:
c = 2.5
d = 4
c > d

False

In [57]:
c = 2.5
d = 4
c <= d

True

In [59]:
c = 1 + 3j
d = 2 + 4j
c > d

TypeError: unorderable types: complex() > complex()

##### Operação de igualdade (==) e desigualdade (!=)

In [60]:
c == d

False

In [61]:
d != c

True

### Tipo Lista:
Listas são sequências ordenadas de itens (não necessariamente do mesmo tipo) que são postos entre colchetes e separados por vírgula. Uma característica que faz com que as listas sejam tão utilizadas é a mutabilidade, isto é, seus elementos podem ser alterados.

In [62]:
lista = [1,2,2, [2,3,4], 3.9, 4, 2.8,'uma string']

In [63]:
lista

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'uma string']

In [64]:
len(lista)

8

In [68]:
Cage=[16,[3,2,1],7.7,'the',[90,80,70,60]]
print(Cage)
len(Cage)

[16, [3, 2, 1], 7.7, 'the', [90, 80, 70, 60]]

5

##### Acessando elementos da lista

obs.: O primeiro elemento possui índice 0.

In [72]:
lista[3]

[2, 3, 4]

In [73]:
lista[3][2]

4

In [75]:
lista[-1]

'uma string'

##### Adicionando novos elementos

In [76]:
seu_novo_nome = [2,6,3,8]

In [77]:
seu_novo_nome.append(23)

In [78]:
seu_novo_nome

[2, 6, 3, 8, 23]

In [116]:
Sheran

[2, 3, 4, [10, 20, 30], 5, 6, 7, 8, 9]

In [129]:
Sheran[3].insert(3,40)
print(Sheran)

[2, 3, 4, [10, 20, 30, 40], 5, 6, 7, 8, 9]

#### Removendo elementos de uma lista

In [91]:
seu_novo_nome.pop()

23

In [92]:
seu_novo_nome

[2, 6, 3, 8]

#### Inserindo listas e elementos

In [93]:
seu_novo_nome

[2, 6, 3, 8]

In [94]:
seu_novo_nome.append(4)

In [96]:
seu_novo_nome.extend([0,7,3])
seu_novo_nome

[2, 6, 3, 8, 4, 0, 7, 3, 0, 7, 3]

In [98]:
seu_novo_nome

[2, 6, 3, 8, 4, 0, 7, 3, 0, 7, 3]

In [99]:
seu_novo_nome.append([9,9])

In [102]:
seu_novo_nome.insert(3,2222)

In [119]:
seu_novo_nome

[2, 6, 5678, 2222, 3, 8, 4, 0, 7, 3, 0, 7, 3, [9, 9]]

In [120]:
seu_novo_nome.pop()

[9, 9]

In [121]:
seu_novo_nome.sort() #Colocando em ordem
seu_novo_nome

[0, 0, 2, 3, 3, 3, 4, 6, 7, 7, 8, 2222, 5678]

#### Acessando elementos

In [122]:
nova2 = [[[2,1],7,9,3,3,2,[2,6]],4,5,7]

In [123]:
nova2[0]

[[2, 1], 7, 9, 3, 3, 2, [2, 6]]

In [131]:
nova2[0].index(3)

3

In [132]:
len(nova2) #len() serve para dar o tamanho do objeto

4

In [133]:
nova2[0].count(3)

2

In [134]:
nova2[0][3]

3

In [135]:
nova2.index(4)

1

In [138]:
nova2.reverse()
print(nova2)

[7, 5, 4, [[2, 1], 7, 9, 3, 3, 2, [2, 6]]]

In [139]:
nova_lista = [1,2,3,4,5,6]

In [140]:
nova_lista[2]

3

In [141]:
nova_lista[2:5]

[3, 4, 5]

In [142]:
nova_lista[-2]

5

### Tipo String:
Strings são sequências de caracteres dispostos, necessariamente, entre aspas simples ou duplas.

In [143]:
s1 = 'uma string'
s2 = "outra string"

In [144]:
print(s1)

uma string

In [145]:
s1

'uma string'

In [146]:
s2

'outra string'

In [147]:
s3 = "let's go to the classroom"
s3

"let's go to the classroom"

In [158]:
s4 = " \'nesta string eu tenho aspas simples (\') e aspas duplas(\")\'"

In [159]:
s4

' \'nesta string eu tenho aspas simples (\') e aspas duplas(")\''

In [160]:
print(s4)

 'nesta string eu tenho aspas simples (') e aspas duplas(")'

In [162]:
s5 = 'let\'s stress'
print(s5)

let's stress

#### Concatenando strings

In [163]:
s1+s2

'uma stringoutra string'

In [164]:
s1+' '+s2

'uma string outra string'

In [165]:
print('um comando' + ' ' + 'que ocupe' + ' ' + 'duas ou mais linhas')

um comando que ocupe duas ou mais linhas

In [178]:
s6 = '''
RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços 
ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete 
capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. 
Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.
'''
#três aspas considera os parágrafos depois de printar.

In [179]:
s6

'\nRIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços \nao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete \ncapitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. \nEm 2014, Brasília havia registrado uma taxa de inflação de 6,74%.\n'

In [180]:
print(s6)

RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços
ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete
capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços.
Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.

In [181]:
s7 = '''
RIO - Brasília fechou 2015 com uma inflação de 11,95%, 
segundo o Índice de Preços ao Consumidor Semanal (IPC-S), 
medido pela Fundação Getulio Vargas (FGV). 
Entre as sete capitais pesquisadas pela FGV, a capital federal foi 
a que teve a maior alta de preços. Em 2014, Brasília havia registrado 
uma taxa de inflação de 6,74%.
'''

In [182]:
s7

'\nRIO - Brasília fechou 2015 com uma inflação de 11,95%, \nsegundo o Índice de Preços ao Consumidor Semanal (IPC-S), \nmedido pela Fundação Getulio Vargas (FGV). \nEntre as sete capitais pesquisadas pela FGV, a capital federal foi \na que teve a maior alta de preços. Em 2014, Brasília havia registrado \numa taxa de inflação de 6,74%.\n'

In [183]:
print(s7)

RIO - Brasília fechou 2015 com uma inflação de 11,95%,
segundo o Índice de Preços ao Consumidor Semanal (IPC-S),
medido pela Fundação Getulio Vargas (FGV).
Entre as sete capitais pesquisadas pela FGV, a capital federal foi
a que teve a maior alta de preços. Em 2014, Brasília havia registrado
uma taxa de inflação de 6,74%.

In [186]:
texto = 'uma linha \noutra linha'
print(texto)

uma linha
outra linha

#### Contando o número de aparições de um caracter

In [188]:
s4

' \'nesta string eu tenho aspas simples (\') e aspas duplas(")\''

In [191]:
s4.count('s')

9

#### Modificando caracteres

In [201]:
s4 = s4.replace('sorvete','aspas')

In [202]:
s4

' \'nesta string eu tenho aspas simples (\') e aspas duplas(")\''

#### Encontrando a posição da palavra

In [208]:
Suang='gosto de abacate.'
print(Suang)

gosto de abacate.

In [209]:
Suang.find('de')

6

In [210]:
Suang[6]

'd'

In [213]:
Suang[9:]

'abacate.'

In [198]:
s4.find('simples')

32

In [206]:
s4[32]

'm'

In [214]:
s4

' \'nesta string eu tenho aspas simples (\') e aspas duplas(")\''

In [215]:
s4[s4.find('string'):s4.find('simples')+len('simples')]

'string eu tenho aspas simples'

In [216]:
s4[6:35]

'a string eu tenho aspas simpl'

#### Fazendo mais elegantemente

In [217]:
inicio = s4.find('string')
fim = s4.find('simples')+len('simples')
s4[inicio:fim]

'string eu tenho aspas simples'

In [218]:
a = 12
b = int('12')
a + b

24

In [219]:
c = str(12)
d = '12'
c + d

'1212'

In [226]:
c.isdigit()

True

In [227]:
x = 0xFFF
x

4095

In [228]:
y = 0b111110001
y

497

In [229]:
z = 0o777321
z

261841

In [230]:
0b11111111

255

### Tipo Booleano:
Serve para criação de estruturas lógicas e criação de condicionais retornando somente True ou False.

In [233]:
'RENATO'.isupper()

True

In [234]:
b1 = True

In [235]:
b2 = False

In [236]:
b1 == b2

False

In [237]:
2 == 5

False

In [238]:
type(2 == 7)

bool

In [239]:
4 != 5

True

In [ ]:
if (9 > 10) and (2 == (1 + 1)) and (7 <= 8):
    print('Correto')
if x == 4095:
    print('Legal')
else:
    print('chato')
print('novo bloco')

### Tipo Conjunto (sets):
Set são sequências nãoordenada de itens únicos. Os itens são postos entre chaves e separados por vírgula.

In [240]:
c1 = {1,2,3,3,3,3,3,4
     }

In [246]:
set(c1)

{1, 2, 3, 4}

In [247]:
c2 = set([1,2,3,4,1,2])

In [248]:
c2

{1, 2, 3, 4}

In [6]:
lista3 = [1,2,3,'string']

In [7]:
conjunto = set(lista3)

In [8]:
conjunto

{1, 2, 3, 'string'}

In [9]:
conjunto2 = conjunto.union([9,8,7])

In [10]:
conjunto2

{1, 2, 3, 7, 8, 9, 'string'}

In [11]:
conjunto.intersection(conjunto2)

{1, 2, 3, 'string'}

In [12]:
lista3 = list(conjunto)

In [13]:
conjunto4 = list('uma string legal')

In [14]:
hash('a')

4189082178468093530

In [16]:
len(conjunto4)

16

In [259]:
print(len('uma string legal'))
print(len(set('uma string legal')))

16
12

In [261]:
texto = '''
There are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015. These are statistical language R (+1.38%) and Apple's new Swift language (+1.06%). Apart from these, also JavaScript and Dart have a chance to win. The award is given to the language with the highest increase in ratings in 2014. Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry. 
'''

In [262]:
texto

"\nThere are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015. These are statistical language R (+1.38%) and Apple's new Swift language (+1.06%). Apart from these, also JavaScript and Dart have a chance to win. The award is given to the language with the highest increase in ratings in 2014. Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry. \n"

In [277]:
#texto = texto.replace('&&&&a','a')
print(texto)

There are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015. These are statistical language R (+1.38%) and Apple's new Swift language (+1.06%). Apart from these, also JavaScript and Dart have a chance to win. The award is given to the language with the highest increase in ratings in 2014. Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry.

In [278]:
lista_palavras = texto.split()
lista_palavras

['There',
 'are',
 'two',
 'candidates',
 'for',
 'the',
 'TIOBE',
 'programming',
 'language',
 'of',
 'the',
 'year',
 'award',
 'that',
 'will',
 'be',
 'announced',
 'around',
 'the',
 '1st',
 'of',
 'January',
 '2015.',
 'These',
 'are',
 'statistical',
 'language',
 'R',
 '(+1.38%)',
 'and',
 "Apple's",
 'new',
 'Swift',
 'language',
 '(+1.06%).',
 'Apart',
 'from',
 'these,',
 'also',
 'JavaScript',
 'and',
 'Dart',
 'have',
 'a',
 'chance',
 'to',
 'win.',
 'The',
 'award',
 'is',
 'given',
 'to',
 'the',
 'language',
 'with',
 'the',
 'highest',
 'increase',
 'in',
 'ratings',
 'in',
 '2014.',
 'Visual',
 'Basic',
 'has',
 'the',
 'highest',
 'delta',
 'but',
 'it',
 "doesn't",
 'qualify',
 'for',
 'the',
 'award',
 'because',
 'it',
 'has',
 'been',
 'introduced',
 'as',
 'a',
 'split',
 'off',
 'of',
 'the',
 'general',
 'Basic',
 'entry.']

In [282]:
type(lista_palavras)

list

In [279]:
palavras_unicas = set(lista_palavras)

In [280]:
print(len(lista_palavras))
print(len(palavras_unicas))

89
65

In [284]:
' Tarla '.join(lista_palavras)

"There Tarla are Tarla two Tarla candidates Tarla for Tarla the Tarla TIOBE Tarla programming Tarla language Tarla of Tarla the Tarla year Tarla award Tarla that Tarla will Tarla be Tarla announced Tarla around Tarla the Tarla 1st Tarla of Tarla January Tarla 2015. Tarla These Tarla are Tarla statistical Tarla language Tarla R Tarla (+1.38%) Tarla and Tarla Apple's Tarla new Tarla Swift Tarla language Tarla (+1.06%). Tarla Apart Tarla from Tarla these, Tarla also Tarla JavaScript Tarla and Tarla Dart Tarla have Tarla a Tarla chance Tarla to Tarla win. Tarla The Tarla award Tarla is Tarla given Tarla to Tarla the Tarla language Tarla with Tarla the Tarla highest Tarla increase Tarla in Tarla ratings Tarla in Tarla 2014. Tarla Visual Tarla Basic Tarla has Tarla the Tarla highest Tarla delta Tarla but Tarla it Tarla doesn't Tarla qualify Tarla for Tarla the Tarla award Tarla because Tarla it Tarla has Tarla been Tarla introduced Tarla as Tarla a Tarla split Tarla off Tarla of Tarla the Tarla general Tarla Basic Tarla entry."

In [287]:
import string

In [288]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [289]:
for punct in ['.','?','!']:
    texto = texto.replace(punct, '*****')
texto

"\nThere are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015***** These are statistical language R (+1*****38%) and Apple's new Swift language (+1*****06%)***** Apart from these, also JavaScript and Dart have a chance to win***** The award is given to the language with the highest increase in ratings in 2014***** Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry***** \n"

In [290]:
texto.split('*****')

['\nThere are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015',
 ' These are statistical language R (+1',
 "38%) and Apple's new Swift language (+1",
 '06%)',
 ' Apart from these, also JavaScript and Dart have a chance to win',
 ' The award is given to the language with the highest increase in ratings in 2014',
 " Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry",
 ' \n']

In [291]:
string5 = 'uma string'
string5 += ' outro texto'

In [292]:
string5

'uma string outro texto'

### Tipo Dicionário:
Dicionários são sequências não ordenadas de itens na forma de pares key:values que se encontram dentro de chaves e separados por vírgula. Como value podemos usar objetos de qualquer tipo, já como key só podemos usar objetos de tipos imutáveis (strings, números ou tuplas).

In [293]:
dic = {'chave1':[1,2,3],'chave2':2,'outra chave':4,45:26, 'outro':23}
dic

{45: 26, 'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 'outro': 23}

In [298]:
dic.update({2:3}) #acrescenta chave.

In [299]:
dic

{2: 3, 45: 26, 'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 'outro': 23}

In [300]:
ficha = {'Peso':73, 'Altura':183, 'Idade':44, 'Nome':'Renato'}

In [301]:
ficha

{'Altura': 183, 'Idade': 44, 'Nome': 'Renato', 'Peso': 73}

In [302]:
ficha['Nome']

'Renato'

Exercício:  
Criar uma estrutura de dados para representar as notas de 3 avaliações (A1, A2 e AS) em três 
disciplinas (Matemática, História e Geografia)

In [303]:
boletim = {'Matemática':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'História':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'Geografia':{'A1':9.0, 'A2':8.0,'AS':4.0}}
boletim

{'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [304]:
boletim['Matemática']['A2']

8.0

In [305]:
boletim.items()

dict_items([('História', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('Matemática', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('Geografia', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0})])

In [306]:
'A2' in boletim['Matemática']

True

In [307]:
boletim['Matemática'].values()

dict_values([9.0, 8.0, 4.0])

In [308]:
boletim['Matemática'].keys()

dict_keys(['A1', 'A2', 'AS'])

In [309]:
boletim['Matemática']['AS'] = 10
boletim

{'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 10}}

In [310]:
newdic = {}

In [311]:
newdic

{}

In [312]:
newdic['elemento1'] = 23

In [313]:
newdic

{'elemento1': 23}

In [314]:
newdic.update({'um':2})

In [315]:
newdic

{'elemento1': 23, 'um': 2}

In [316]:
newdic['um'] = 18

In [317]:
newdic

{'elemento1': 23, 'um': 18}

In [318]:
d2 = {}
d1 = {1:d2}
d2 = {2:d1}

In [319]:
d1

{1: {}}

In [320]:
d2

{2: {1: {}}}

In [321]:
d2[2][1] = 'outra coisa'

In [322]:
d1[2]='outro elemento'

In [323]:
d2

{2: {1: 'outra coisa', 2: 'outro elemento'}}

### Tipo Tupla:
Tuplas, assim como listas, são sequências ordenadas de itens. As diferenças entre elas são: os elementos estão entre parênteses e as tuplas são imutáveis, seus elementos não podem ser modificados.

In [324]:
t = (1,2,3,4,7,4,3,1,'string',{1,2}, [1,2])

In [325]:
type(t)

tuple

In [326]:
t[0]

1

In [327]:
t[5]

4

In [328]:
t[3:6]

(4, 7, 4)

In [329]:
lista = [1,2,3]

In [330]:
tupla = tuple(lista)

In [331]:
tupla

(1, 2, 3)

In [332]:
lista2 = list(tupla)

In [333]:
lista2

[1, 2, 3]

In [334]:
d5 = {(1,2):'tupla'}
d5

{(1, 2): 'tupla'}

In [335]:
t2 = (2,4,7,2,2,2,2)

In [336]:
t2.count(2)

5

In [337]:
a = [1,2]

In [338]:
t = (a,a,a,a,a)
l = [a,a,a,a,a]

In [339]:
tupla_falsa = (1)
tupla_verdadeira = (1,)
print(type(tupla_falsa))
print(type(tupla_verdadeira))

<class 'int'>
<class 'tuple'>

Acessando cada elemento da tupla

In [340]:
x, y = 10, 19 #Relembrando como declarar as variáveis em uma linha
print(y)
print(x)

19
10

Empacotamento e desempacotamento de tuplas

In [ ]:
x, y = 10, 19 #Relembrando como declarar as variáveis em uma linha
print(y)
print(x)

In [ ]:
t = (2,3,4)
x,y,z = t
print(t)
print(x)
print(y)
print(z)

In [ ]:
x, *y, z = (1,2,3,4)
print(x)
print(y)
print(z)

### Várias formas para importação de módulos:

#### Importando o pacote inteiro:

In [ ]:
import string
import random
import math
import numpy

In [ ]:
string.punctuation

In [ ]:
random.random()

In [ ]:
math.pi

In [ ]:
numpy.pi

#### Importando do pacote determinada função

In [ ]:
from math import *

In [ ]:
pi

In [ ]:
e = [1,2,3]

In [ ]:
from math import *

In [ ]:
e

In [ ]:
from numpy import mean, pi

In [ ]:
mean([1,2,3,4,5,6,7,8,9])

In [ ]:
pi

In [ ]:
math.pi == numpy.pi

#### Importando o pacote e atribuindo-o outro nome

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
plt.plot([1,2,3,4,5,6,4,3,2,1])

In [ ]:
plt.show()

In [ ]:
import this