FGV - Escola de Matemática Aplicada
==
Introdução à Programação com a Linguagem Python
--

#### Acesso a Banco de Dados

Importando os Módulos

In [3]:
import pymysql
import sqlite3
import getpass
import pandas.io.sql as psql

Estabelecendo uma Conexão

In [84]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='alunos')

········

Utilizando cursores padrão

In [85]:
cur = conn.cursor() # para se escrever como se escreve em SQL

Executando queries e examinando os resultados:

+ fetchall()  # pega todos os registros da tabela.
+ fetchmany(num. registros) # pega a quantidade solicitada ex: fetchmany(3).
* fetchone()  # retorna a próxima linha da query.

O cursor armazena os resultados da query

In [39]:
cur.execute("show databases;")
for r in cur.fetchall():
    print(r)

('information_schema',)
('Reuters',)
('SQLExample1',)
('alunos',)
('classicmodels',)

In [40]:
cur.execute("use alunos;")
for r in cur.fetchmany(5):
    print(r)

In [42]:
cur.execute('show tables;')
for r in cur.fetchall():
    print(r)

('Carros',)
('carrinho',)
('carros',)
('compras',)

In [ ]:
cur.execute('use SQLExample1;')
cur.execute('select * from customer;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from customer;')
for r in cur.fetchmany(5):
    print(r)

In [ ]:
cur.execute('select * from customer;')
a,b,c,d,e,f,g = cur.fetchone()
h,i,j,k,l,m,n = cur.fetchone()

In [ ]:
a

In [ ]:
b

In [ ]:
h

In [ ]:
i

In [86]:
a = [(1,2),(3,4)]
a[1][0]

3

Criando uma tabela no Banco de Dados

In [ ]:
cur.execute("USE alunos;")

q = '''CREATE TABLE IF NOT EXISTS tabela_nova
       (text VARCHAR(200) DEFAULT NULL,
        number INT DEFAULT NULL)
        ENGINE=MyISAM DEFAULT CHARSET='utf8';'''

cur.execute(q)

In [81]:
cur.execute("show tables;")
for r in cur.fetchall():
    print(r)

('Carros',)
('SemIsso',)
('carrinho',)
('carros',)
('compras',)
('people',)
('tabela_nova',)
('tabela_nova2',)
('tabela_nova3',)

In [83]:
cur.execute("describe tabela_nova;")
for r in cur.fetchall():
    print(r)

('text', 'varchar(200)', 'YES', '', None, '')
('number', 'int(11)', 'YES', '', None, '')

Inserindo registros na nova tabela:

Inserindo um registro:

In [ ]:
texto = 'Um novo texto para inserir na tabela'
numero = 245

cur.execute('''INSERT INTO Alunos.tabela_nova 
            (text,number) VALUES (%s,%s)''',(texto,numero))

In [ ]:
cur.execute("select * from tabela_nova;")
for r in cur.fetchall():
    print(r)

Inserindo vários registros

In [ ]:
texts = ['It always seems impossible until its done.',
         'In order to succeed, we must first believe that we can.',
         'Life is 10% what happens to you and 90% how you react to it.',
         'Start where you are. Use what you have. Do what you can.',]

numbers = [12,23,34,45]

regs = zip(texts,numbers)

cur.executemany('INSERT INTO Alunos.tabela_nova (text,number) VALUES (%s,%s)', (regs))

In [ ]:
cur.execute("select * from tabela_nova;")
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute("DROP TABLE IF EXISTS Alunos.tabela_nova") #usuário não tem direito de drop

Usando Pandas

(Basta passar a conexão estabelecida como parâmetro)

In [9]:
df_mysql = psql.read_sql('select * from Alunos2.account;', con=conn)

ProgrammingError: Cannot operate on a closed database.

In [ ]:
df_mysql.head()

#### Usando um Banco SQLite

In [ ]:
conn = sqlite3.connect('example.db')
cur = conn.cursor()

In [ ]:
# Create table
cur.execute('''CREATE TABLE IF NOT EXISTS stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [ ]:
conn = sqlite3.connect('example.db')
cur = conn.cursor()

In [ ]:
t = ('RHAT',) #tuple with just one element
cur.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(cur.fetchone())

In [ ]:
# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
cur.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [ ]:
for row in cur.execute('SELECT * FROM stocks ORDER BY price'):
        print(row)

### Exercícios

In [ ]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='Alunos')
cur = conn.cursor()

In [ ]:
cur.execute('use Alunos2;')
cur.execute('show tables;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('describe account;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from account limit 5;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('describe product;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from product;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('describe product_type;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from product_type;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('describe employee;')
for r in cur.fetchall():
    print(r)

In [ ]:
cur.execute('select * from employee limit 10;')
for r in cur.fetchall():
    print(r)

1 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance"?

In [ ]:
cur.execute('''select max(avail_balance),
               avg(avail_balance), 
               min(avail_balance) from account;''')

for r in cur.fetchall():
    print(r)

2 - Quais registros na tabela "account" estão acima da média de "avail_balance"?

In [ ]:
cur.execute('''select * from account where avail_balance > 
                (select avg(avail_balance) from account);''')

for r in cur.fetchall():
    print(r)

3 - Na tabela "account", quais as 3 datas mais recentes e as 3 datas mais antigas ("open_date")?

In [ ]:
#cur.execute('''select max(open_date),min(open_date) from account;''')

q = '''
(select open_date from account order by open_date limit 3)
UNION ALL
(select open_date from account order by open_date desc limit 3);
'''

cur.execute(q)

for r in cur.fetchall():
    print(r)

4 - Para cada elemento na tabela "product", exiba o nome completo do "product_type_cd" (tabela "product_type")

In [ ]:
q = '''
SELECT p.product_cd, p.name, p.product_type_cd, p.date_offered, p.date_retired, pt.name from product AS p
INNER JOIN product_type AS pt
ON p.product_type_cd = pt.product_type_cd
;
'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

5 - Quantos empregados ("employees") possuem a letra "e" em seus nomes? E quantos tem sobrenomes que terminam com "r"?

In [ ]:
q = '''SELECT * from employee where fname like '%e%';'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

In [ ]:
q = '''SELECT * from employee where lname like '%r';'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

6 - Quais são os títulos ("title") possíveis para os empregados ("employees")?

In [ ]:
q = '''SELECT distinct(title) from employee;'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

7 - Quantos empregados ("employees") estão a exatamente dois níveis abaixo do presidente?

In [ ]:
q = '''describe employee;'''

cur.execute(q)
for r in cur.fetchall():
    print(r)

In [ ]:
q1 = '''select * from employee;'''

q2 = '''select cast(emp_id as unsigned) from employee where superior_emp_id = 1;'''

q3 = '''
    SELECT cast(emp_id as unsigned)
    from Alunos2.employee 
    WHERE superior_emp_id IN (
    select cast(emp_id as unsigned) 
    from Alunos2.employee 
    where superior_emp_id = 1)'''

cur.execute(q3)
for r in cur.fetchall():
    print(r)

8 - Na tabela "account", quais os valores médio, mínimo e máximo de "avail_balance" por tipo de 'product_cd' ?

In [ ]:
q1 = '''select * from account;'''

q2 = '''select product_cd, avg(avail_balance), min(avail_balance), max(avail_balance) 
        from account 
        group by product_cd;'''

cur.execute(q2)
for r in cur.fetchall():
    print(r)

9 - Na tabela "transaction", há quantos registros por ano ("txn_date")?

In [ ]:
cur.execute('describe transaction;')
for r in cur.fetchall():
    print(r)

In [ ]:
q1 = '''select * from transaction limit 5;'''

q2 = '''select year(txn_date), count(*) from transaction group by year(txn_date);'''

cur.execute(q2)
for r in cur.fetchall():
    print(r)

10 - Você é dono de uma loja de automóveis. Crie tabelas no banco "Alunos" para representar os carros de seu pátio, os modelos de automóveis, os clientes e as compras realizadas.

In [ ]:
# Create table
cur.execute('''CREATE TABLE IF NOT EXISTS loja_carros
             (date text, trans text, symbol text, qty real, price real);''')

11 - Crie uma lista no Python com todos os nomes e sobrenomes em strings únicas, a partir da tabela "individual"

In [ ]:
cur.execute('describe individual;')
for r in cur.fetchall():
    print(r)

In [ ]:
q1 = '''select fname, lname from individual;'''
l = []

cur.execute(q1)
for r in cur.fetchall():
    l.append('{} {}'.format(r[0],r[1]))
print(l)

12 - A partir da tabela "individual", crie um dicionário no Python tendo os nomes e sobrenomes em strings únicas como chaves e os anos das datas como valores.

In [ ]:
q1 = '''select year(birth_date), fname, lname from individual;'''
d = {}

cur.execute(q1)
for r in cur.fetchall():
    d['{} {}'.format(r[1],r[2])] = r[0]
print(d)